.wrapper {
    height: 1400px;
    margin: 5px;
    background-color: rgb(192, 226, 43);
}

.title {
    text-align: center;
    color: rgb(0, 0, 255);
    background-color: rgb(175, 121, 121);
}

.turtle {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 0 50px 20px #00f;
}